<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KrimaSolutions-QC Edit Form </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .highlight {
            background-color: #EEF43B;
        }

        body {
            padding-top: 70px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* Add padding to body to account for fixed navbar */
        }

        .navbar {
            background-color: #333;
            /* Change navbar background color */
            border-bottom: 1px solid #444;
            /* Add border to navbar */
        }

        .navbar-brand {
            font-size: 24px;
            /* Increase font size of navbar brand */
        }

        .nav-link {
            font-size: 19px;
            /* Increase font size of navbar links */
        }
    </style>
</head>

<body>




    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/image/logo.png" alt="Logo" width="270" height="50">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item mt-2">
                        <button onclick="showSearch()" id="btn2"
                            style="border: none;background-color: #333;color: rgb(49, 235, 16);margin-top: 5px;font-size: 16px;">Search
                            Bar</button>
                    </li>
                    <li class="nav-item mt-2">
                        <button onclick="hideSearch()" id="btn1"
                            style="border: none;background-color: #333;color: rgb(250, 77, 8);margin-top: 5px;font-size: 16px;"
                            hidden>Hide Search</button>
                    </li>
                    <li class="nav-item mt-2">
                        <button onclick="Rchar()" id="btn2"
                            style="border: none;background-color: #333;color: rgb(7, 135, 247);margin-top: 5px;font-size: 16px;">Remove
                            Special-Char</button>
                    </li>
                    <li class="nav-item mt-2" style="margin-left: 300px;">

                        <p class="text-light fs-6 nav-link active "><strong class="text-light">User - </strong> <b>{{user}}</b></p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="shadow-lg  mb-5 bg-white rounded">
        <div class="container float-start" id="div1">

            <div class="d-flex p-2 bd-highlight" style="position: fixed;">
                <input type="text" name="" id="srh"
                    style="width: 600px;color: rgb(16, 15, 15);background-color: rgb(177, 166, 151);" hidden
                    oninput="search()">

            </div>



            <div class="d-flex p-2 bd-highlight">
                <form class="row g-3" method="post" action="" style="width: 500px;">
                    {%csrf_token%}
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label" style="color: rgb(209, 83, 15);font-weight: 700;">sr_no</label>
                        <textarea name="a1" id="" cols="22" style="color: #0c0c0a;">{{sr_no}}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label"
                            style="color: rgb(209, 83, 15);font-weight: 700;">Date</label>
                        <textarea name="a2" id="" cols="30">{{Date}}</textarea>

                    </div>

                    <div class="col-6">
                        <label for="inputAddress" class="form-label"
                            style="color: rgb(209, 83, 15);font-weight: 700;">Regulatory</label>
                        <textarea name="a3" id="" cols="22">{{Regulatory}}</textarea>
                    </div>

                    <div class="col-6">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_status</label>
                            <select id="inputState" class="form-select" name="a7" style="width: 220px;height:55px;">
                                <option value="{{KRIMA_status}}">{{KRIMA_status}}</option>
                                <option value="For QC Head">For QC Head</option>
                                <option value="For PM Head">For PM Head</option>
                                <option value="For Client">For Client</option>
                                <option value="Row Added">Row Added</option>
                                <option value="Page Not Found/Error">Page Not Found/Error</option>
                                <option value="Duplicate">Duplicate</option>
                                <option value="Language Issue">Language Issue</option>
                            </select>
                       
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label"
                            style="color: rgb(209, 83, 15);font-weight: 700;">Title</label>
                        <textarea name="a4" id="" cols="56">{{Title}}</textarea>
                    </div>

                    <div class="col-md-12">
                        <label for="inputPassword4" class="form-label"
                            style="color: rgb(209, 83, 15);font-weight: 700;">URL</label>
                        <a href="{{URL}}" target="_blank">{{URL}}</a>

                    </div>



                    <div class="col-6">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_true_false</label>
                        <select id="inputState" class="form-select" name="a8" style="width: 220px;height:55px;">
                            <option value="{{KRIMA_true_false}}">{{KRIMA_true_false}}</option>
                            <option value="TRUE">TRUE</option>
                            <option value="NOT TRUE">NOT TRUE</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_type</label>
                        <!-- <textarea name="a9" id="" cols="30">{{KRIMA_type}}</textarea> -->
                        <select id="inputState" class="form-select" name="a9" style="width: 220px;height:55px;">
                            <option value="{{KRIMA_type}}">None</option>
                            <option value="Penalty Notice">Penalty Notice</option>
                            <option value="Penalty Notice">Enforcement Notice</option>
                            <option value="Penalty Notice">Regulation Change</option>
                            <option value="Penalty Notice">Consultation</option>
                            <option value="Penalty Notice">General Notice</option>
                            <option value="Penalty Notice">Guidance</option>
                            <option value="Penalty Notice">Other</option>
                            
                        </select>

                    </div>

                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">gpt_person_or_business</label>
                        <textarea name="a11" id="" cols="56">{{KRIMA_edited_gpt_person_or_business}}</textarea>
                    </div>

                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_edited_gpt_company_check</label>
                        <textarea name="a12" id="" cols="56">{{KRIMA_edited_gpt_company_check}}</textarea>
                    </div>

                    
                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">gpt_area_of_activity_or_service</label>
                        <textarea name="a23" id="" cols="56">{{gpt_area_of_activity_or_service}}</textarea>
                    </div>

                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">gpt_area_of_regulation</label>
                        <textarea name="a24" id="" cols="56">{{gpt_area_of_regulation}}</textarea>
                    </div>

                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_area_of_activity_or_service</label>
                        <textarea name="a25" id="" cols="56">{{KRIMA_area_of_activity_or_service}}</textarea>
                    </div>

                    <div class="col-md-12">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_area_of_regulation</label>
                        <textarea name="a26" id="" cols="56">{{KRIMA_area_of_regulation}}</textarea>
                    </div>




                    <div class="col-md-12">
                        <label for="inputEmail4" class="form-label"
                            style="color: black;font-weight: 700;">parent_company_name</label>
                        <textarea name="a13" id="" cols="56">{{parent_company_name}}</textarea>
                    </div>
                    <div class="col-md-12">
                        <label for="inputPassword4" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_civil_penalty_validated</label>
                        <textarea name="a14" id="" cols="56">{{KRIMA_civil_penalty_validated}}</textarea>

                    </div>

                    <div class="col-6">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">civil_penalty_cleansed</label>
                        <textarea name="a15" id="" cols="22">{{KRIMA_civil_penalty_cleansed}}</textarea>
                    </div>

                    <div class="col-6">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_currency</label>
                        <textarea name="a16" id="" cols="30">{{KRIMA_currency}}</textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_civil_penalty_usd</label>
                        <textarea name="a17" id="" cols="22">{{KRIMA_civil_penalty_usd}}</textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label"
                            style="color: black;font-weight: 700;">disgorgement_restitution_usd</label>
                        <textarea name="a18" id="" cols="30">{{KRIMA_disgorgement_restitution_usd}}</textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_imposed_penalty</label>
                        <textarea name="a19" id="" cols="22">{{KRIMA_imposed_penalty}}</textarea>

                    </div>

                    <div class="col-6">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_settled_value</label>
                        <textarea name="a20" id="" cols="30">{{KRIMA_settled_value}}</textarea>
                    </div>

                    <div class="col-12">
                        <label for="inputAddress" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_non_monetary_penalty</label>
                        <textarea name="a21" id="" cols="56">{{KRIMA_non_monetary_penalty}}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label"
                            style="color: black;font-weight: 700;">KRIMA_notes</label>
                        <textarea name="a10" id="" cols="22">{{KRIMA_notes}}</textarea>

                    </div>
                    <div class="col-6">
                        <label for="inputAddress" class="form-label" style="color: black;font-weight: 700;">Mark
                            Done</label>
                        <select id="inputState" class="form-select" name="a22" style="width: 220px;height:55px;"
                            required>
                            <option value="{{Ok}}" selected>Choose...</option>
                            <option value="1">Done</option>
                            <!-- <option value="2">Reject</option> -->
                            <option value="0">Doubts/Error</option>
                        </select>
                    </div>



                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-success">Save Data</button>
                        <a href="/filter_Add_rows/{{id}}/{{pid}}" class="btn btn-outline-primary mx-4">Add Rows</a>


                    </div>
            </div>
        </div>
        </form>
        
        <div class="fixed-top" style="height: 100px;margin-top:80px;margin-left:600px;">
            <p name="a5" id="art" cols="85" rows="60"
                style="text-align:center;color: rgb(101, 38, 38);font-size:15px ;font-weight: 700;height:500px;width: 680px;margin-left: 20px;overflow-x: scroll;border:2px solid black;">
                {{Article}}</p>
        </div>
    </div>

    </div>
    </div>

    <script>

        let p = document.getElementById('art');

        function search() {
            let input = document.getElementById('srh').value;
            if (input !== "") {
                let regexp = new RegExp(input, "gi");
                p.innerHTML = (p.textContent).replace(regexp, '<mark class="highlight">$&</mark>');
            } else {
                p.innerHTML = p.textContent; // reset the text when input is empty
            }
        }

        function Rchar() {
            let p = document.getElementById('art');

            p.innerText = p.innerText.replace(/<[^>]*>|[^a-zA-Z0-9,;\-.!?<> ]/g, ' ');
            p.innerText = p.innerText.replace(/(?:\r\n|\r|\n)/g, ' ');
        }

        function showSearch() {
            document.getElementById("srh").hidden = false;
            document.getElementById("btn1").hidden = false;
            document.getElementById("btn2").hidden = true;

        }

        function hideSearch() {
            document.getElementById("srh").hidden = true;
            document.getElementById("btn1").hidden = true;
            document.getElementById("btn2").hidden = false;

        }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>